.titulo {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 24px;
    margin-top: 24px;
  }
  
  .negrita {
    font-weight: bold;
  }

  .titulo::after {
    content: "";
    display: block;
    width: 100px; 
    height: 5px;
    background-color: #7b1e1e;
    margin: 8px auto 0 auto;
    border-radius: 4px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }
  
  #body{
    background-color: #940303;
  }