<div class="grid-wrapper">
    <div class="grid-item">
      <mat-card class="card-about" appearance="outlined">
        <mat-card-title>Sobre Mí</mat-card-title>
        <mat-card-content>
          Hola, soy desarrollador de software titulado en 2022 por la Universidad Tecnológica INACAP.<br><br>
  
          Mi enfoque principal ha sido el desarrollo Front-End, aunque también he trabajado en proyectos del lado Back-End, lo que me permite tener una visión más completa del desarrollo de aplicaciones.<br><br>
  
          Tengo experiencia con tecnologías como React, Vue, Node.js, JavaScript, C#, SQL y PostgreSQL. Actualmente, estoy preparándome para obtener la certificación en Microsoft Azure y seguir ampliando mis habilidades en la nube.<br><br>
  
          En mi último trabajo me desempeñé como Desarrollador Front-End en Servicios Financieros Tanner, donde trabajé con React, TypeScript y Strapi en el desarrollo de soluciones orientadas a servicios financieros.<br><br>
  
          Además del código, tengo una gran pasión por los juegos de mesa y soy fanático del videojuego Dark Souls.
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  