<div class="grid-wrapper">
  <div class="grid-item">
    <mat-card class="card-tecnologia">
      <mat-card-header>
        <div mat-card-avatar class="card-tecnologia-image"></div>
        <mat-card-title>Tecnologías</mat-card-title>
        <mat-card-subtitle>
          Hasta el momento, he trabajado y tengo pequeños proyectos en las siguientes tecnologías
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <div class="grid-tecnologias">
          <div class="mini-card" *ngFor="let tech of tecnologias">
            <img mat-card-image [src]="tech.img" alt="{{ tech.nombre }}"/>
            <p>{{ tech.nombre }}</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
