.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
  padding: 24px;
  box-sizing: border-box;
}

.grid-item {
  grid-column: 3 / span 8; /* 2-8-2 layout en desktop */
}

@media (max-width: 768px) {
  .grid-item {
    grid-column: 2 / span 10; /* 1-10-1 layout en mobile */
  }
}

.card-tecnologia {
  margin: 0;
  border: 2px solid black;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: #f1aaaa;
}

.grid-tecnologias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-top: 16px;
}

@media (max-width: 600px) {
  .grid-tecnologias {
    grid-template-columns: repeat(2, 1fr);
  }
}

.mini-card {
  background-color: #f5f5f5;
  padding: 12px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.mini-card img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  margin-bottom: 8px;
}

.mini-card p {
  margin-top: -0.5rem; 
}