<div class="grid-wrapper">
  <div class="grid-item">
    <mat-card class="card-about" appearance="outlined">
      <mat-card-title>Mis Proyectos</mat-card-title>
      <mat-card-content>
        
        <div class="grid-proyectos">
          <div *ngFor="let proyecto of proyectos">
            <button mat-raised-button color="primary" (click)="abrirModal(proyecto)">
              {{ proyecto.titulo }}
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
